@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body {
    overflow-x: hidden;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden !important;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #5d4954;
}

.logo {
    color: rgb(226, 226, 226);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 20px;
}

.nav-links {
    display: flex;
    width: 60%;
    justify-content: space-around;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
    text-transform: capitalize;
}

.burger {
    display: none;
    cursor: pointer;
}

.nav-toggle {
    display: none;
}

.burger div {
    width: 25px;
    height: 3px;
    background-color: rgb(226, 226, 226);
    margin: 5px;
}


@media screen and (max-width: 1024px) {
    body {
        max-width: 100%;
        overflow-x: hidden;
    }
    .nav-links {
        width: 60%;
    }
    
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    body {
        overflow-x: hidden;
        max-width: 100%;
        margin: 0 auto;
    }
    .nav-links {
       position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        transform: translate(100%); 
        transition: transform 0.5s ease-in-out;
    }

    .nav-toggle {
        display: none;
    }
    
    .nav-toggle:checked + .nav-links {
        transform: translateX(0%);
    }

    .burger {
        display: block;
    }

}


@media screen and
(min-width:160px) and (max-width: 320px) {
    body {
        width: 100%;
        overflow: hidden;
        margin: 0 auto;
    }
    .nav-links {
       position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: #5d4954;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: space-evenly;  
        transform: translate(100%); 
        transition: transform 0.5s ease-in-out;
    }

    .nav-toggle {
        display: none;
    }
    
    .nav-toggle:checked + .nav-links {
        transform: translateX(0%);
    }

    .burger {
        display: block;
    }

    .burger div {
        width: 10px;
        height: 2px;
    }

    .logo h4 {
        font-size: 10px;
    }

    .nav-links a {
        color: rgb(226, 226, 226);
        text-decoration: none;
        letter-spacing: 2px;
        font-weight: bold;
        font-size: 10px;
        text-transform: capitalize;
    }

}